[submodule "vendor/frame-arcade-js"]
	path = vendor/frame-arcade-js
	url = https://github.com/frame-lang/frame-arcade-js.git
[submodule "vendor/frame-arcade"]
	path = vendor/frame-arcade
	url = https://github.com/frame-lang/frame-arcade.git
